{% load static %}
{% url 'home' as home_url %}
{% url 'contact' as contact_url %}
{% url 'products:list' as product_list_url %}
{% url 'login' as login_url %}
{% url 'logout' as logout_url %}
{% url 'register' as register_url %}

{% url 'account:home' as account_url %}
{% url 'cart:home' as cart_url %}


<!-- Top Bar
============================================= -->
<div class="top-links">
    <ul>
        <!-- TODO  -->

        {% if request.user.is_authenticated %}
            <li><a href="#">Account</a>
                <ul>
                    <li><a href="{{ account_url }}"><i class="icon-home" alt="Home"></i> Home</a></li>
                    <li><a href="{{ logout_url }}"><i class="icon-line2-logout" alt="Logout"></i> Logout</a>
                    </li>
                </ul>
            </li>
        {% else %}
            <li><a href="{{ register_url }}">Register</a></li>
            <li><a href="{{ login_url }}"><i class="icon-line2-login" alt="Logout"></i> Login</a></li>
        {% endif %}

    </ul>
</div><!-- .top-links end -->


<ul>
    {% if request.user.is_authenticated %}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Account
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item {% if request.path == account_url %}current{% endif %}"
                   href="{{ account_url }}">Home</a>
                <a class="dropdown-item" href="{{ account_url }}#billing">Billing</a>
                <a class="dropdown-item" href="{{ logout_url }}">Logout</a>
            </div>
            {% else %}
        <li class="{% if request.path == register_url %}current{% endif %}">
            <a class="nav-link" href="{{ register_url }}">Register</a>
        </li>
        <li class="{% if request.path == login_url %}current{% endif %}">
            <a class="nav-link" href="{{ login_url }}">Login</a>
        </li>
    {% endif %}

</ul>
