{% url "about" as about_url %}
{% url "addresses" as addresses_url %}
{% url "orders:list" as order_list_url %}
{% url "checkout_biling_profile_update" as billing_profile_url %}
{% url "contact" as contact_url %}
{% url "account:user-product-history" as product_history_url %}
{% url "billing-payment-method" as payment_method_url %}
{% url "library" as library_url %}
{% url 'logout' as logout_url %}
{% url 'account:home' as account_url %}



<a class="list-group-item list-group-item-action clearfix" href="{{ logout_url }}">Logout <i class="icon-line2-logout float-right"></i></a>
